  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    text-align: center;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #8E95A4;
  }
  
  .divTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1{
    color: #433633;
    font-weight: bold;
  }

  label{
    color: #433633;
    font-weight: bold;
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #F7F0F5;
    padding: 10px;
    margin-bottom: 10px;
  }

  .botones{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #F7F0F5;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }

  .desdehasta{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px;
    background-color: #F7F0F5;
    padding: 10px;
    border-radius: 20px
  }

  tr:nth-child(even) {
    background-color: #F5F1ED;
  }

  tr:nth-child(odd) {
    background-color: #DAD2BC;
  }

  thead {
    background-color: #8F857D;
  }

  th {
    background-color: #3F3B3B;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td {
    text-align: center;
    padding: 8px; 
  }
